DB_HOST=db
DB_NAME=db
DB_USER=admin
DB_PASSWORD=admin
DB_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=root

JWT_ACCESS_TOKEN=
JWT_REFRESH_TOKEN=

MAIL_USERNAME=********@gmail.com
MAIL_PASSWORD=********
SMTP_SECRET_KEY=*****