Flask==3.0.0
Flask-CORS==4.0.0
Flask-Bcrypt==1.0.1
Flask-Mail==0.9.1
Flask-SocketIO==5.3.6
python-dotenv==1.0.0
psycopg2-binary==2.9.9
redis==5.0.1
gevent==23.9.1
gevent-websocket==0.10.1
PyYAML==6.0.1
Pillow==10.1.0
requests==2.31.0
python-socketio==5.8.0
PyJWT==2.8.0
dnspython==2.4.2
